html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

.main {
  min-height: 87vh;
}

/*basic*/

.button {
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0;
  cursor: pointer;
}

.button--green {
  background-color: #7c9f35;
  color: #ffff;
}

.title {
  text-align: center;
  padding: 2rem;
  color: #7c9f35;
  font-size: xx-large;
}

.subtitle {
  text-align: center;
  color: #7c9f35;
  font-style: italic;
}

@media screen and (min-width: 650px) {
  .button {
    font-size: 2.5rem;
  }
}

/*header*/

.header {
  background-color: #d1d646;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  padding: 1rem;
}

.header__title {
  font-family: "Dancing Script", cursive;
  font-size: 1.5rem;
}

.header__checkbox {
  position: absolute;
  left: -9999px;
}

.header__list {
  list-style: none;
  position: absolute;
  right: 0;
  top: 74px;
  background-color: #d1d646;
  z-index: 2;
  display: none;
}

.header__item {
  border-top: 1px solid #7c9f35;
}

.header__link {
  text-decoration: none;
  display: block;
  padding: 1rem;
  width: 100vw;
  text-align: center;
}

.header__item:hover {
  background-color: #7c9f35;
  cursor: pointer;
}

.header__toggler {
  font-size: 2rem;
  padding: 1rem;
}

.header__checkbox:checked ~ .header__list {
  display: block;
}

@media screen and (min-width: 650px) {
  .header__toggler {
    display: none;
  }
  .header__list {
    display: flex !important;
    position: static;
    height: 100%;
    line-height: 2.5rem;
  }
  .header__item {
    border-top: 0;
    border-left: 1px solid #7c9f35;
  }

  .header__title {
    font-size: 2rem;
  }

  .header__link {
    width: auto;
  }
}

@media screen and (min-width: 1000px) {
  .header__item {
    width: 10vw;
  }
}

/*landing-page*/

.landing-page {
  background-image: url(/images/bird-home-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 530px;
  position: relative;
}

.landing-page__button {
  position: absolute;
  bottom: 30%;
  left: 10%;
}

.landing-page__text {
  padding: 1.5rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: black;
  opacity: 0.5;
  color: #ffff;
  margin: 0;
}

@media screen and (min-width: 650px) {
  .landing-page {
    background-image: url(/images/bird-home.jpg);
  }
  .landing-page__button {
    bottom: 25%;
  }
}

/*slider*/

.image-container {
  max-width: 100%;
  font-size: 0;
}

/*catalogue*/

.catalogue {
  text-align: center;
}

.bird-card {
  border-top: 2px solid #7c9f35;
  position: relative;
  font-size: 0;
  cursor: pointer;
}

.bird-card__subtitle {
  padding-bottom: 0.5rem;
  font-style: italic;
  font-weight: 200;
  font-size: 1rem;
}

.bird-card__titles {
  bottom: 0;
  z-index: 2;
  font-size: 1.5rem;
}

.titles {
  position: absolute;
  background-color: black;
  bottom: 0;
  opacity: 0.5;
  color: #ffff;
  width: 100%;
}

@media screen and (min-width: 650px) {
  .catalogue{
    display: flex;
  }
  .bird-card{
    max-height: 300px;
  }
  .bird-card__image{
    height: 100%;
    object-fit: cover;
  }
}


/*contact*/

.contact {
  background-image: url(/images/contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  position: relative;
}

.contact__titles {
  text-align: center;
  padding: 1rem;
}

.contact__subtitle {
  font-weight: 200;
}

.button--contact {
  text-decoration: none;
  background-color: #d1d646;
  position: absolute;
  bottom: 10rem;
  left: calc(50% - 68px);
  color: #ffff;
}

.media {
  max-height: 7rem;
  padding: 1rem;
}

.media__icon {
  max-height: 5rem;
  color: #7c9f35;
  cursor: pointer;
}

.media__icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media screen and (min-width: 650px) {
  .button--contact:hover {
    background-color: #7c9f35;
  }
  .button--contact{
      left: calc(50% - 108px);
  }
  .contact{
     background-image: url(/images/contact-web.jpg);
  }
  .media__icon:hover {
    color: #d1d646;
  }
}

/*feed*/

.feed-card {
  padding: 0.6rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 1rem;
  border: 2px solid #d1d646;
  border-radius: 0.3rem;
  margin: 0.8rem;
}

.feed-card__image {
  border-radius: 50%;
}

@media screen and (min-width: 650px) {
  .feeds {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .feed-card {
    flex-basis: 40%;
  }
}

/*form*/

.form-section {
  display: flex;
  flex-direction: column;
  border: 2px solid #d1d646;
  margin: 0.8rem;
  border-radius: 0.3rem;
  font-size: larger;
  padding: 0.6rem;
}

.form-section__title {
  text-align: center;
}

.form-section__inputs {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-section__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.form-section__item--checkbox {
  padding-bottom: 0.5rem;
}

.label {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
}

.input {
  cursor: pointer;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.button--form {
  margin: 0 2rem 0.5rem 2rem;
}

@media screen and (min-width: 650px) {
  .form-section__inputs {
    flex-direction: row;
    justify-content: center;
  }
  .form-section__item {
    flex-basis: 25%;
  }
  .form-section__inputs--checkbox {
    flex-wrap: wrap;
  }
  .form-section__item--checkbox {
    flex-basis: 20%;
  }
  .button-wrapper {
    flex-direction: row;
    margin-top: 5rem;
  }
  .button--form:hover {
    background-color: #d1d646;
  }
}

/*bird-detail*/

.bird-detail {
  padding: 1rem;
}

.bird-detail__title {
  color: #7c9f35;
}

.bird-detail__subtitle {
  font-style: italic;
  padding-top: 0.2rem;
  padding-bottom: 0.6rem;
}

.bird-detail__image {
  border-radius: 0.3rem;
}

.bird-detail__description-title {
  padding-top: 0.8rem;
  padding-bottom: 0.4rem;
}

.bird-detail__description {
  line-height: 1.5;
  padding-bottom: 0.6rem;
}

/*footer*/

.footer {
  background-color: #7c9f35;
  color: #ffff;
  padding: 1rem;
  text-align: center;
}
